*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-color: rgb(71, 129, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}

input{
    width: 300px;
    height: 30px;
    padding: 10px;
    color: rgb(38, 39, 43);
    font-size: 20px;
    font-weight: bold;
    border: 1px solid cornflowerblue;
    margin-bottom: 20px;
}

input:focus{
    outline: none;
    border-color: rgb(36, 109, 245);
}

button{
    width: 60px;
    height: 50px;
    background-color: rgb(71, 129, 236);
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(29, 107, 253);
}

#tarefas{
    display: flex;
    justify-content: space-between;
    width: 380px;
    padding: 10px;
    margin: 10px;
}